
header{
    
    background: linear-gradient(99.35deg, #ADE8F4 0.41%, #44A4CF 97.32%, #0076b6bc 100.54%, rgba(255, 255, 255, 0) 102.28%), #FFFFFF;
    padding: 1%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     position: sticky;
     top: -0px;
     z-index: 3;
}

.header__container{
    justify-content: space-between;
    display: flex;
    align-items: center;
    
}

.left__header__li {
 color: #023E8A;
   font-weight: 800;
    font-size: 30px;
    text-decoration: none;
}

.right__header__phone{
    display: none;
}

.right__header2{
flex: 0.4;

}
.right__header{
    flex: 0.5;
    }

.logout{
    border: unset;
}
.login__buton   {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background:#023E8A ;
    color:   #ADE8F4   ;
    border-radius: 12px;
    font-size: 16px;
   text-align: center;
   padding: 6px;
   }
   .bar{
    display: none;
    background:#023E8A ;
    color:   #ADE8F4   ;
    border-radius: 2px;
    font-size: 16px;
    padding: 4px;
   text-align: center;
   outline: none;
   box-shadow: unset !important;
   
  
   }
.login__buton > .connect_i {
color: #ADE8F4  ;
}



ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 600;
    list-style: none;
  }

ul >.link{
border:#ADE8F4  solid 1px ;
text-align: center;
border-radius: 12px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
margin-left: 1%;
font-size: 16px;
padding: 6px;
}
 a{
     text-decoration: none;
     
 }

ul >.link {
   font-size: 16px;
    color: #023E8A;
    margin-left: 1%;
}
.open{
    
    display: flex ;
    justify-content: start;
    
    background: #44A4CF;
    height: 100%  ;
    opacity: 1;
}

.rotate{
    transform: rotate(90deg);
}

.phone__navbar
{
 display: none;

}

@media screen and (max-width: 600px){


   
    .right__header__desktop{
    display: none;
}

.right__header__phone{
    display: none  ;    }
    

.phone__navbar
{
 display: flex;
 flex-direction: column;
align-items: flex-start;
 width: 100%;
 transition-timing-function:ease;
}

.phone__navbar >.link__phone {
background: #44A4CF ;
padding: 5px;
width: 70%;
color: #023E8A;
font-weight: 600;
text-align: start;
border-bottom: #023E8A 1px solid;
}

.bar{
    display: block;
}

    .left__header__li{
        font-size: 20px;
    }
   
}