.login{
   width: 100%;
   background: #DBF5FA;
width: auto;
height: 100vh;

}


.login__body{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 85%;
   width: 100%;
 
    }
.login__container{
display: flex;
justify-content: space-around;
flex-wrap: wrap;
align-items: center;
width: 85%;

}

.login__form{
     background: #0077B6 ; 
     width: 385px;
     display: flex;
     justify-content: space-around;
     align-items: center;
     flex-direction: column;
     border-radius: 50px;
     padding: 25px;
     mix-blend-mode: normal;
    box-shadow: 6px 4px 4px rgba(0, 0, 0, 0.25);
}

.input,  .password ,select{
border-radius: 25px;
border-style: none;
color: #023E8A;
padding: 8px;
margin-top: 20px;
outline-style: none;
background:#ADE8F4;
width: 250px;

}

::placeholder {
    color: #023E8A;

    opacity: 1; /* Firefox */
  }

.button{
    background: #023E8A ;
    color: #ADE8F4;
    width: 250px;
    border: none;outline-style: none;
    border: 1px solid #ADE8F4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 43px;
    padding: 6px;
    margin-top: 20px;
    cursor: pointer;
}

.title{
    color: #ADE8F4;
}
.alert{
    color: #ADE8F4;
    
    font-size: 12px;
   }



   @media only screen and (max-width: 800px) {
   .login__container >img{
      width: 50vw;
      padding: 5vw;
    }
  }