.profil__container{
  background: #CAF0F8;
  height: 100vh;
 
}
.body__profil{
  background: #CAF0F8;
  display: flex;
  padding: 1%;
  width: 80%;
  
  align-items: flex-start;
  justify-content: space-around;
}
.Profil__student{
  
    color: #03045E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    
}
.Profil__student__body{
display: flex;
flex-direction: column;
border: 2px solid #023E8A;
width: 40vw;
background: #CAF0F8;
padding: 2%;
border-radius: 25px;
box-shadow: 0px 4px 4px #03055e4d, 0px 4px 4px rgba(0, 0, 0, 0.25);


}

.cercle{
  width: 10vw;
  height: 10vw;
  border-radius: 100%;
  background: rgb(25, 70, 138);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}



.body__1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 1%;
  
}

h3 >span{
  width: 40%;
}
h3{
  margin-top: 15px;
  display: flex;
  width: 100%;
  
  justify-content: space-between;
  align-items: flex-start;
  
}

span{
  text-align: center;
  color: #CAF0F8 ;
  margin-right: 5px;
  background:#023E8A ;
  border-radius: 10px;
  padding: 5px;
  
}

.title__header{
  color: #023E8A;
  padding: 12px;
  letter-spacing: 1px;

}

.Profil__buttons{
  display: flex;
  flex-direction: column;
  
  width: 20%;
  padding: 2%;
}
.Profil__button{
  color: #03045E;
  background: #CAF0F8 ;
  border: 1px solid #03045E;
  margin: 7px;
  font-weight: 700;
  outline: none;
  box-shadow: 0px 4px 4px #03045E ;
  padding: 1%;
  
  border-radius: 12px;
  cursor: pointer;
}
