.profil__container{
  min-height: 100vh;
  max-height: auto;
  background: linear-gradient(99.35deg, #ADE8F4 0.41%, #44A4CF 97.32%, #0077B6 100.54%, rgba(255, 255, 255, 0) 102.28%), #FFFFFF;
}
.body__profil{
  display: flex;
  padding: 1%;
  width: 80%;
  align-items: center;
  justify-content: space-around;
}
.cercle{
  width: 150px;
  height: 150px;
  border-radius: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.Profil__student{
  
color: #03045E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    
}
.Profil__student__body{
display: flex;
flex-direction: column;
border: 2px solid #0077B6;
width: 40vw;
background: #CAF0F8;
padding: 4%;
border-radius: 25px;
box-shadow: 0px 4px 4px #03055e4d, 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.body__1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 1%;
  
}

h3 >span{
  width: 40%;
}
h3{
  margin-top: 15px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

span{
  text-align: center;
  color: #CAF0F8 ;
  margin-right: 5px;
  background:#023E8A ;
  border-radius: 10px;
  padding: 5px;
  
}

.title__header{
  color: #023E8A;
  padding: 12px;
  letter-spacing: 1px;

}

.Profil__buttons{
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 2%;
}
.Profil__button{
  color: #03045E;
  background: #CAF0F8 ;
  border: 1px solid #0077B6;
  margin: 7px;
  font-weight: 700;
  outline: none;
  box-shadow: 0px 4px 4px #023E8A ;
  padding: 1%;
  border-radius: 12px;
  cursor: pointer;
}

.Profil__Link{
  color: #03045E;
  background: #CAF0F8 ;
  border: 1px solid #0077B6;
  margin: 7px;
  font-weight: 700;
  text-align: center;
  font-size: 14px  !important;
  box-shadow: 0px 4px 4px #023E8A ;
  padding: 1%;
  border-radius: 12px;
  cursor: pointer;
}

@media screen and (max-width: 600px){

  .body__3  >h3 {
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
display: flex;
justify-content:center;
align-items: center;
flex-direction: column;
}

.body__3  >h3>span{
   width: 100%;
}
.body__2  >h3 {
   width: 100%;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 12px;
   display: flex;
   justify-content:center;
   align-items: center;
   flex-direction: column;
}

.body__2  >h3>span{
  width: 100%;
}
  .body__profil{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    width: 100%;
  }

  .Profil__student{
    width: 100%;
    
  }
  .Profil__buttons{
    display: flex ;
    width: 100%;
    flex-direction: column-reverse;
  }
  .Profil__student__body{
    width: 90%;
    }
    .cercle{
      width: 40%;
      height: 100px;
      border-radius: 12px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    }



}
