:root{
--text :#023E8A;
--container: #0077B6;
--bg : #DBF5FA ;
--bg_input: #ADE8F4;


}

.message{
    text-align: center;
    padding: 4px;
    color: var(--text);
}

.signup{
background: linear-gradient(99.35deg, #ADE8F4 0.41%, #44A4CF 97.32%, #0076b6bc 100.54%, rgba(255, 255, 255, 0) 102.28%), #FFFFFF;
height: 100vh;
}

.signup__body  >h1 {
color: var(--text) ;

font-size: 3vw;
}

h2{
    font-size: 2vw;
    color: var(--text) ;
   
     
}

.signup__body  >h1>span{
    font-weight: 100;
    background: none;
    color: var(--text)  ;
}

Input,select,textarea{
    outline-style: none;
    border: none;
    background: var(--bg_input) ;
    border-radius: 12px;
    width: 250px;
    padding: 8px;
    margin-top: 10px;
    border: 1px solid var(--text);
}

form>
button  {
    outline: none;
    border: none;
    background: #023E8A;
    border-radius: 12px;
    color: var(--bg_input);
    width: 250px;
    padding: 8px;
    margin-top: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.signup__body{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.register__form{
    background:linear-gradient(118.34deg, #023E8A 3.33%, rgba(255, 255, 255, 0) 100.09%), #0077B6 ;
    display: flex;
    justify-content: space-around ;
    align-items: flex-start;
    padding: 5%;
    flex-wrap: wrap;
    border-radius: 50px;
    mix-blend-mode: normal;
box-shadow: 6px 4px 4px rgba(0, 0, 0, 0.25);

}
.signup__container{
   padding: 12px;
  width: 60vw;
  
   
}